.Makefile.swp
filelist
filelist.bigram
filelist.locate02
filelist.old
filelist.slocate
filelist.locate02.updatedb
filelist.old.updatedb
filelist.trsorttr
filelist.slocate.updatedb
old/
slocate/
LOCATE02/
