*.swp
ShellExecute.js
cd.winpath
cscript.sjis
cscript.utf8
icacls.sjis
icacls.txt
icacls.utf8
takeown.sjis
takeown.txt
takeown.utf8
test.js
ver.txt
whoami-uac.groups.sjis
whoami-uac.groups.utf8
whoami-uac.priv.sjis
whoami-uac.priv.txt
whoami-uac.priv.utf8
whoami-uac.user.sjis
whoami-uac.user.utf8
whoami.groups.sjis
whoami.groups.txt
whoami.groups.utf8
whoami.priv.sjis
whoami.priv.txt
whoami.priv.utf8
whoami.user.sjis
whoami.user.txt
whoami.user.utf8
takeown-me.sjis
takeown-me.utf8
